body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size:17px;
  line-height:17px;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  text-transform: none;
}

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
}

.main-picture {
  width: 220px;
  height: 42px;
  float: left;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  color: #fff;
  background-color: #ee3643;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
}

.menu-top{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.search {
  width: 270px;
  height: 47px;
  margin-top: 0px;
}

.search input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.search label {
  /*position: absolute;*/
  top: 12px;
  left: 17px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-search.svg) no-repeat;
}

.navigation {
  list-style: none;
  min-height: 60px;
  width: 940px;
  background-color: #32425c;
  float: left;
  text-align: center;
  border-bottom: 3px solid #293449;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.site-navigation {
  padding: 0px;
}

.site-navigation a {
  padding-top: 22px;
  padding-right: 31px;
  padding-bottom: 26px;
  padding-left: 31px;
}

.main-navigation {
  background-color: #293449;
  min-height: 42px;
}

.user-menu a{
  position: relative;
  width: 105px;
  height: 42px;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 44px;
  padding-bottom: 13px;
  line-height: 42px;
}

.user-main {
  background-color: #f1f5f7;
  min-height: 278px;
}

.order a {
  padding-right: 22px;
  padding-left: 19px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-navigation .container {
  position: relative;
}

.login {
  position: relative;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 789px;
  background-color: #fff;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
}

.password {
  position: relative;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 920px;
  background-color: #fff;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu-top a:hover,
.remember a:hover {
  background-color: #ca2c37;
}

.menu-top a:focus,
.remember a:focus {
  background-color: #ba2732;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  background-color: #fff;
  color: #000;
}

.user-menu a:hover {
  background-color: #212a3a;
}

.user-menu a:focus {
  background-color: #161d29;
}

.order a:hover,
.buy-button:hover {
  background-color: #5fbb2d;
}

.order a:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.buy-button:focus {
  background-color: #518534;
}

.remember-button:hover {
  border-color: #32425c;
}

.remember-button:focus {
  border-color: #bdc6ca;
  color: rgba(50, 66, 92, 0.3);
}

.company-info a:hover,
.footer-copyright a:hover {
  text-decoration:underline;
}

.site-navigation-low a:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration:none;
}

.footer-copyright a:focus {
  color: #ee3643;
  text-decoration:none;
}

.second-navigation a:focus {
  color: rgba(255, 209, 128, 0.5);
  text-decoration:none;
}

.about-company {
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  font-style: italic;
  color: #ee3643;
  width: 247px;
  float: left;
  margin-left: 52px;
  margin-right: 0px;
  margin-top: 49px;
  margin-bottom: 40px;
}

.data {
  width: 340px;
  position: relative;
  margin-left: 450px;
}

.phone a {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #e9292a;
  border: 3px solid #fff;
  margin-left: 450px;
  margin-bottom: 4px;
  margin-right: 50px;
  margin-top: 46px;
  padding-left: 71px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 11px;
  width: 470px;
  height: 45px;
  position: relative;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.login-password {
  float: left;
}



.login-password a,
.personal-data a {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000;
}

.login-password a:hover,
.cabinet a:hover {
  color: #ee3643;
}

.login-password a:focus,
.personal-data a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.cabinet a:focus {
  color: rgba(50, 66, 92, 0.3)
}

.second-navigation a {
  color: #ffd180;
}

.buying,
.user-menu,
.order,
.remember {
  font-size:17px;
  line-height:18px;
  color: #fff;
  text-align: left;
}

.order {
  font-size:17px;
  background-color: #63a63e;
  color: #fff;
  text-align: left;
  width: auto;
  height: 42px;
  line-height: 39px;
}

.remember-order {
  font-size:17px;
  line-height:18px;
  background-color: #ee3643;
  color: #fff;
  text-align: left;
}

.cabinet a {
  font-size:16px;
  line-height:18px;
  color: #32425c;
  text-align: left;
  text-decoration:underline;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.filter button {
  border-color: #e5e5e5;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
}

.navigation,
.login-password,
.site-navigation,
.site-navigation-low,
.second-navigation,
.filter-main ul,
.perforators ul,
.footer-contacts ul {
  list-style: none;
}

.company,
.contacts {
  background-color: #fff;
}

.company a {
  font-size:14px;
  line-height:18px;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.company-name,
.contacts {
  font-size:30px;
  line-height:30px;
  background-color: #fff;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.shopping,
.contacts b {
    font-family: 'PT Sans', sans-serif;
    font-size:13px;
    line-height:24px;
    background-color: #fff;
    color: #000;
    text-align: left;
}

.delivery.companies {
  font-size:18px;
  line-height:20px;
  background-color: #fff;
  color: #000;
  text-align: left;
  text-transform: none;
}

.lost {
  font-size:14px;
  line-height:18px;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.company-info {
  background-color: #32425c;
}

.company-links {
  background-color: #293449;
}

.footer-contacts {
  font-size:18px;
  line-height:24px;
  color: #f3f7f9;
  text-align: left;
  font-style: normal;
}

.footer-copyright {
  font-size:16px;
  line-height:18px;
  color: #fff;
  text-align: left;
  font-style: normal;
}

.footer-copyright a {
  font-size:16px;
  line-height:18px;
  color: #ffd180;
  text-align: left;
  font-style: normal;
}

.filter {
  background-color: #fff;
}

.manufacturer {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size:17px;
  line-height:30px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.accum-type {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size:17px;
  line-height:30px;
  letter-spacing: 0.2px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.manufacturer li {
  font-family: 'PT Sans', sans-serif;
  font-size:15px;
  line-height:20px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.filter-main button {
  font-family: 'PT Sans', sans-serif;
  font-size:13px;
  line-height:18px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.titles {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size:18px;
  line-height:20px;
  color: #000;
  background-color: #fff;
  text-align: center;
  text-transform: none;
}

.old-price {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size:17px;
  line-height:18px;
  color: #999999;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration:line-through;
}

.new-price {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size:17px;
  line-height:18px;
  color: #fff;
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
}

.buy-button {
  font-size:14px;
  line-height:18px;
  color: #fff;
  background-color: #63a63e;
  text-align: center;
  text-transform: uppercase;
}

.remember-button {
  font-size:14px;
  line-height:18px;
  color: ##32425c;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-color: #63a63e;
}
